In [1]:
# Import the pandas library and use the alias 'pd' for convenience
import pandas as pd

In [24]:
# Read data from the "restaurant_data.csv" file and store it in a DataFrame named 'df'
df = pd.read_csv("restaurant_data.csv")

In [25]:
df.head()

  Restaurant_Name       Cuisine  Price_for_two      Location  Rating
0    Cafe Amudham  south indian            400     jayanagar     100
1    Cafe Amudham        snacks            400     jayanagar     100
2  Sannidhi Grand  south indian            150  kammanahalli   10000
3  Sannidhi Grand  north indian            150  kammanahalli   10000
4  Sannidhi Grand       chinese            150  kammanahalli   10000

In [26]:
# Capture user input for cuisine, price for two, and location
cuisine = input().lower().strip()  # Convert to lowercase and remove leading/trailing whitespace
price_for_two = int(input())       # Capture an integer value for price_for_two
location = input().lower().strip() # Convert to lowercase and remove leading/trailing whitespace

snacks
200
jayanagar

In [144]:
def recommendation(location,cuisine):
    # for the area selected, display the popular cuisine
    popular_cuis = ''
    popular_cuisine = df[df['Location'] == location].groupby('Cuisine')['Cuisine'].count().sort_values(ascending=False)
    popular_cuisine =  popular_cuisine[popular_cuisine == popular_cuisine.max()].index.tolist()
    if len(popular_cuisine) == 1:
        popular_cuis = popular_cuisine[0]
    else:
        for i in popular_cuisine:
            if i not in popular_cuisine[-1]:
                popular_cuis += i
                popular_cuis += ', '
            else:
                popular_cuis += i
                
    # average price for 2
    avg_price_for_2 = round(df[df['Location'] == location]['Price_for_two'].mean(),0)
    
    # Display the most popular Restaurant and Cuisine they are serving
    most_popular_restaurant = df[(df['Location'] == location)].sort_values('Rating',ascending=False).iloc[0][0]

    serves = ''
    most_popular_restaurant_serve = df[df['Restaurant_Name'] == most_popular_restaurant]['Cuisine'].tolist()
    if len(most_popular_restaurant_serve) == 1:
        serves = most_popular_restaurant_serve[0]
    else:
        for i in most_popular_restaurant_serve:
            if i not in most_popular_restaurant_serve[-1]:
                serves += i
                serves += ', '
            else:
                serves += i
    # Display the most popular restaurant that is serving the same cuisine as user provided cuisine
    most_popular_restaurant_that_serves_your_cuisine = df[(df['Location'] == location) & (df['Cuisine'] == cuisine)].sort_values('Rating',ascending=False).iloc[0][0]
    
    return [avg_price_for_2,popular_cuis,most_popular_restaurant,serves,most_popular_restaurant_that_serves_your_cuisine]

#